/* Muller Medium */
@font-face {
	font-family: 'Muller Medium';
	src: url('../src/fonts/MullerMedium.woff2') format('woff2'),
	url('../src/fonts/MullerMedium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

/* Muller Regular */
@font-face {
	font-family: 'Muller Regular';
	src: url('../src/fonts/MullerRegular.woff2') format('woff2'),
		url('../src/fonts/MullerRegular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

/* Muller Bold */
@font-face {
	font-family: 'Muller Bold';
	src: url('../src/fonts/MullerBold.woff2') format('woff2'),
		url('../src/fonts/MullerBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

/* Muller Light */
@font-face {
	font-family: 'Muller';
	src: url('../src/fonts/MullerLight.woff2') format('woff2'),
		url('../src/fonts/MullerLight.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

html {
	scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: "Muller Regular";
  font-size: 16px;
  font-weight: 400;
	color: #333333;
}

.list {
  list-style: none;
  padding: 0;
	margin: 0;
}

.container {
	width: 1168px;
	margin: 0 auto;
}

.title {
  font-family: "Muller";
  font-size: 40px;
	margin: 0;
	padding: 0;
  padding-left: 44px;
	margin-bottom: 23px;
  line-height: 1;
}

.link {
  color: #cc9933;
  line-height: 1;
	text-decoration: none;
	transition-duration: .2s;
}

.link:hover {
	transform: translateX(10px);
}

.input {
  width: 518px;
  border: 1px solid #fff;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 27px 21px;
}

.btn {
  border: 1px solid #cc9933;
  border-radius: 12px;
  font-family: "Muller Bold";
  font-size: 16px;
	line-height: 1;
	cursor: pointer;
	user-select: none;
	transition-duration: .2s;
	outline: none;
}

.btn:hover {
	transform: scale(1.1);
}

.btn-color {
	color: #fff;
	background-color: #cc9933;
	transition-duration: .1s;
}

.btn-color:active {
	color: #cc9933;
	background-color: transparent;
}

.btn-clear {
	color: #cc9933;
	background-color: transparent;
	transition-duration: .1s;
}

.btn-clear:active {
	color: #fff;
	background-color: #cc9933;
}

.placement-item-img, .services-item-img {
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.upper-header-container {
  display: flex;
  align-items: center;
	padding-top: 30px;
  margin-bottom: 30px;
}

.upper-header-logo {
  margin-right: 25px;
}

.upper-header-number {
  margin-right: auto;
  color: #666666;
  font-family: "Muller Bold";
  font-size: 22px;
  line-height: 1;
}

.header-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
	padding: 11px 21px;
  margin-bottom: 71px;;
}

.header-menu {
  display: flex;
  margin-right: 114px;
}

.menu-item:not(:last-child) {
  margin-right: 45px;
}

.menu-item-link {
	line-height: 1;
	color: #333333;
}

.menu-item-link:hover {
	color: #cc9933;
}

.header-search {
	position: relative;
	min-width:355px;
}

.header-search-input {
	width: 100%;
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  background-color: #f1f1f1;
  padding: 10px 0;
	padding-left: 21px;
	padding-right: 33px;
}

.search-input-btn {
	position: absolute;
	width: 22px;
	height: 22px;
	background-image: url(../src/img/search.png);
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	cursor: pointer;
	outline: none;
}

.first-section-container {
  display: flex;
  margin-bottom: 69px;
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 55px;
}

.booking-input {
  margin-bottom: 24px;
}

.booking-btn {
  margin-right: 30px;
	padding: 27px 30px;
}

.booking-available {
  color: #999999;
}

.booking-available-count {
  color: #cc9933;
}

.special-offer-poster {
  background-image: url(../src/img/offer_poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 265px 223px 35px 40px;
  border-radius: 12px;
}

.offer-description {
  color: #fff;
  font-family: "Muller Bold";
  font-size: 66px;
  line-height: 58px;
	margin: 0;
	padding: 0;
  margin-bottom: 44px;
}

.offer-price {
  opacity: 0.49;
  color: #fff;
  font-size: 35px;
  line-height: 32px;
  margin-right: 36px;
}

.offer-more-details {
	background-image: url(../src/img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right;
	display: inline-block;
	padding-right: 14px;
}

.about-container {
  margin-bottom: 66px;
}

.about-title {
	margin-bottom: 27px;
}

.about-dscription {
	max-width: 880px;
  color: #666;
  font-size: 16px;
  line-height: 32px;
	margin: 0;
	padding: 0;
	padding-left: 44px;
}

.services-container {
  margin-bottom: 70px;
}

.services-list {
	display: flex;
	flex-wrap: wrap;
}

.services-item {
  display: flex;
	flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  border-radius: 12px;
  padding-bottom: 40px;
	margin-right: 15px;
	margin-bottom: 24px;
}

.services-item:nth-child(2n) {
	margin-right: 0;
}

.services-item:nth-last-child(-n + 2) {
	margin-bottom: 0;
}

.services-item-img {
  margin-bottom: 36px;
}

.services-item-link {
	background-image: url(../src/img/arrow.svg);
	background-repeat: no-repeat;
	background-position: right;
	font-size: 22px;
  color: #cc9933;
	padding-left: 45px;
	padding-right: 18px;
  margin-bottom: 15px;
}

.services-item-description {
  max-width: 394px;
  font-size: 16px;
  line-height: 32px;
	margin: 0;
	padding: 0;
  padding-left: 45px;
}

.advantages-container {
  margin-bottom: 70px;
}

.advantages-list {
	display: flex;
	flex-wrap: wrap;
}

.advantages-item {
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 44px 44px;
  background-color: #fff;
  border-radius: 12px;
	padding: 123px 54px 40px 44px;
  margin-right: 18px;
	margin-bottom: 24px;
}

.advantages-item:nth-child(4n) {
	margin-right: 0;
}

.advantages-item:nth-last-child(-n + 4) {
	margin-bottom: 0;
}

.advantages-item-1 {
	background-image: url(../src/img/bathtub.png);
}

.advantages-item-2 {
	background-image: url(../src/img/hanger.png);
}

.advantages-item-3 {
	background-image: url(../src/img/heating.png);
}

.advantages-item-4 {
	background-image: url(../src/img/hotel-key.png);
}

.advantages-item-5 {
	background-image: url(../src/img/parking.png);
}

.advantages-item-6 {
	background-image: url(../src/img/reception.png);
}

.advantages-item-7 {
	background-image: url(../src/img/security-box.png);
}

.advantages-item-8 {
	background-image: url(../src/img/swimming-pool.png);
}

.advantages-item-description {
  max-width: 177px;
	margin: 0;
	padding: 0;
  line-height: 32px;
}

.placement-container {
	margin-bottom: 68px;
}

.placement-title {
	margin-bottom: 26px;
}

.placement-list {
	display: flex;
	flex-wrap: wrap;
}

.placement-item {
	display: flex;
	flex-direction: column;
	margin-right: 23px;
	margin-bottom: 23px;
}

.placement-item:nth-child(3n) {
	margin-right: 0;
}

.placement-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.placement-item-info {
	background-color: #fff;
	padding: 36px 44px 55px 44px;
	border-radius: 12px;
}

.placement-item-price {
	margin-right: 40px;
	margin-bottom: 25px;
	display: inline-block;
}

.placement-price-from {
	color: #969696;
}

.placement-price-price {
	font-family: "Muller Bold";
	font-size: 22px;
}

.placement-item-rating {
	display: inline-block;
}

.placement-item-name {
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
}

.placement-item-location {
	margin: 0;
	padding: 0;
	margin-bottom: 24px;
	color: #999;
}

.placement-item-btn {
	padding: 13px 12px;
}

.placement-other {
	background-image: url(../src/img/placement_other.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: flex-end;
	padding: 368px 40px 52px 39px;
	border-radius: 12px;
}

.placement-other-text {
	background-image: url(../src/img/arrow_white.svg);
	background-repeat: no-repeat;
	background-position: right;
	display: inline-block;
	font-family: "Muller Medium";
	font-size: 22px;
	padding-right: 20px;;
	color: #fff;
}

.placement-other-text::before {
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.contacts {
	margin-bottom: 22px;
}

.contacts-block {
	display: inline-block;
	max-width: 472px;
	background-color: #fff;
	border-radius: 12px;
	padding: 47px 56px 44px 45px;
	margin-right: 174px;
}

.contacts-list {
	margin-bottom: 44px;
}

.contacts-item {
	display: flex;
	border-bottom: 1px solid #ccc;
	padding-bottom: 27px;
}

.contacts-item:not(:nth-last-child(1)) {
	margin-bottom: 26px;
}

.contacts-item-title {
	min-width: 144px;
	color: #666666;
	font-family: "Muller Bold";
	margin: 0;
	font-size: 22px;
}

.contacts-adress {
	font-style: normal;
	line-height: 24px;
}

.contacts-link {
	display: block;
	line-height: 24px;
}

.contacts-item-mail {
	color: #999999;
}

.contacts-item-schedule {
	width: 186px;
	margin: 0;
}

.contacts-btn {
	padding: 27px 31px;
}

.write-to-us {
	display: inline-block;
}

.write-to-us-title {
	padding: 0;
	text-align: center;
	margin-bottom: 45px;
}

.write-to-us-input {
	display: block;
	width: 340px;
	margin-bottom: 23px;
}

.write-to-us-btn {
	padding: 26px 128px;
}

.footer {
	background-color: #333;
	background-image: url(../src/img/footer-logo.png);
	background-position: 725px 138px ;
	background-repeat: no-repeat;
	width: 1168px;
	border-radius: 12px;
	margin: 0 auto;
}

.footer-container {
	display: flex;
	width: 1064px;
	padding: 49px 0;
	margin: 0 auto;
}

.footer-info {
	width: 298px;
	margin-right: 125px;
}

.footer-info-info {
	color: #fff;
	margin: 0;
	margin-bottom: 48px;
	line-height: 32px;

}

.footer-info-link {
	line-height: 1;
}

.footer-contacts {
	margin-right: auto;
}

.footer-adress {
	color: #fff;
	font-style: normal;
	margin-bottom: 40px;
}

.footer-contacts-mails {
	padding-top: 47px;
}

.footer-icons-item:not(:nth-last-child(1)) {
	margin-bottom: 21px;
}

.footer-social-link {
	background-repeat: no-repeat;
	background-size: cover;
	width: 24px;
	height: 24px;
	display: inline-block;
	transition-duration: .1s;
}

.footer-social-link:hover {
	opacity: .5;
}

.link-tripadvisor {
	background-image: url(../src/img/tripadvisor.png);
}

.link-twitter {
	background-image: url(../src/img/twitter.png);
}

.link-facebook {
	background-image: url(../src/img/facebook.png);
}

.link-vk {
	background-image: url(../src/img/social.png);
}

.link-google {
	background-image: url(../src/img/google-plus.png);
}
